{{#if loggedIn}}
<h1>Welcome {{user.name}}</h1>
<section class="project">

    <div class="project-card">
    <h2 class="page-title">Create A Project</h2>
    <form class="form project-form">
      <div class="form-group">
        <label for="project-name">Name:</label>
        <input class="form-input" type="text" id="project-name" />
      </div>
      <div class="form-group">
        <label for="project-description">Description:</label>
        <input class="form-input" type="text" id="project-description" />
      </div>
      <div class="form-group">
        <label for="project-funding">Funding:</label>
        <input class="form-input" type="text" id="project-funding" />
      </div>
          <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>

 {{#if projects.length}}   
{{#each projects as |project|}}
  <div class="project-details">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
  </div>
{{/each}}
  </div>
{{/if}}
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

<script src="./js/profile.js"></script>